@charset "ISO-8859-1";

form {
	background-color: #a19484;
}

@media ( max-width : 518px) {
	.botoes {
		flex-direction: column-reverse;
	}
	#limpar {
		margin-top: 6px;
	}
}

@media ( max-width : 548px) {
	#espaco {
		margin-bottom: 16px;
	}
}